{% extends "base.html" %} 
{% block title %}Colton's Free Business Tools{% endblock %}

<header><h1>Colton's Free Business Tools</h1></header>

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <img
        class="profile text-center"
        src="/static/images/portrait.JPG"
        alt="Colton"
      />
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote">
        <p class="mb-0">
          Hi! 👋 Welcome to my completely free business tools website.
          I'm not selling ads, I'm not selling your data, I just want to make
          cool things. Take a look around and use what you need. Enjoy!
        </p>
        <p class="blockquote-footer">Colton</p>
      </blockquote>
    </div>
  </div>
</div>

{% endblock %}