{% extends "base.html" %} {% block title %}Merge PDFs{% endblock %}

<header><h1>Merge PDFs</h1></header>

{% block content %}

<!-- Page title section -->
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="center-div">
        <img src="static/icons/combine-block.png" class="little-nav-logo" alt="pdf combination tool" style="margin-right: 3px; width: 26px; height: 26px;"/> 
        <i class="fa-solid fa-play little-nav-arrow" style="font-size: 15px;"></i>
        <img src="static/icons/pdf-block.png" class="little-nav-logo" alt="pdf combination tool" style="margin-right: 4px; width: 27px; height: 27px;"/>
      </div>
      <h1 class="page-title">Merge PDFs</h1>
    </div>
  </div>

  <!-- Upload form -->
  <div class="row justify-content-md-center convert-form">
    <div class="col-md-5">
      <form method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <div class="custom-file">
            <label class="custom-file-label"><p id="p1">Choose files</p></label>
            <input
              type="file"
              class="custom-file-input"
              id="file"
              name="file"
              aria-describedby="inputGroupFileAddon04"
              onchange="handleBrowse()"
              multiple
            />
          </div>
          <div class="input-group-append">
            <button id="convert-button" class="btn btn-success" type="submit">Merge</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-md-center message-container">
    <div class="col-md-5 subtle-message-box">
      <span class="subtle-message">
        Or just drag and drop some files anywhere on the page.
      </span>
    </div>
  </div>

  <!-- Progress bar -->
  <div class="row justify-content-md-center progress-container">
    <div class="col-md-5">
      <div class="progress">
        <div
          id="progress-bar"
          class="progress-bar bg-success"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%"
        ></div>
      </div>
    </div>
  </div>


  <!-- Download box loads hidden -->
  <div id="download-container" class="row justify-content-md-center download-container d-none mt-4">
    <div class="col-md-4 download-box">
      <a id="download" href="{{ url_for('database_download_merge_pdf', filename=filename) }}" type="button" class="btn btn-success">Download {{ filename }}</a>
    </div>
  </div>

  <!-- Tips and tricks section -->
  <p class="mt-5">
    <div class="row justify-content-md-center tips-header">
       <div class="col center-block" style="text-align: center">
           <a class="tog" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <span><i class="fa-solid fa-chevron-down chev"></i> <span class="tips">Tips & Tricks</span></span>
           </a>
       </div>
    </div>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row justify-content-md-center tips-container">
        <div class="col-sm">
          <div class="tips-text">
            <span class="num">1. </span>All pages of the selected PDF files are appended together in the order they were selected.
          </div>
        </div>
        <div class="col-sm">
          <div class="tips-text">
            <span class="num">2. </span>Select an unlimited number of files to merge together into a single document.
          </div>
        </div>
        <div class="col-sm">
          <div class="tips-text">
            <span class="num">3. </span>The app provides a user-friendly interface for selecting the PDFs to be merged.
          </div>
        </div>
        <div class="col-sm">
          <div class="tips-text">
            <span class="num">4. </span>You can select one file to be merged, but that is no recommended. You'll just end up with the same file!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
