{% extends "base.html" %} {% block title %}Terms of Use{% endblock %}

<header><h1>Terms of Use</h1></header>

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Terms of Use</h1>
      <p class="mb-0">
        Welcome to Colton's Free Business Tools, an online platform (the
        "Service") provided by Colton Lawson (“us”, “we”, or “our”).
      </p>
      <br />
      <p class="mb-0">
        By accessing or using our Service, you (“you”, “the user”) agree to be
        bound by the following terms and conditions (“Terms of Use”, “Terms”),
        including those additional terms and conditions and policies referenced
        herein.
      </p>
      <br />
      <p class="mb-0">
        The Service may provide file type conversion functionality, which allows
        users to convert certain file formats to other formats. While we strive
        to ensure that the file type conversion functionality is accurate and
        reliable, there may be certain limitations and inaccuracies that could
        affect the quality or integrity of the converted files.
      </p>
      <br />
      <p class="mb-0">
        You understand and agree that we make no representation or warranty of
        any kind, express or implied, as to the availability, accuracy,
        completeness, reliability, or timeliness of the file type conversion
        functionality or the converted files. We do not guarantee that the file
        type conversion will always produce an exact replica of the original
        file or that the converted files will be free from errors or loss of
        data.
      </p>
      <br />
      <p class="mb-0">
        Furthermore, we do not guarantee that the converted files will be
        compatible with all devices or software programs. It's your
        responsibility to check the compatibility of the converted files with
        the devices or software programs you intend to use before relying on the
        converted files.
      </p>
      <br />
      <p class="mb-0">
        We shall not be liable for any inaccuracies, errors, or loss of data in
        the converted files or for any actions taken in reliance on the
        converted files. You should always keep a backup copy of the original
        files before converting them, and verify the converted files thoroughly
        before using them.
      </p>
      <br />
      <p class="mb-0">
        By using the file type conversion functionality, you acknowledge and
        accept the risks and limitations associated with it. We recommend you to
        preview the files before finalizing the conversion and using them, it
        will help you to identify potential issues and prevent potential loss of
        data.
      </p>
      <br />
      <p class="mb-0">
        We reserve the right, at our sole discretion, to modify or replace these
        Terms at any time. If a revision is material we will try to provide at
        least 30 days notice prior to any new terms taking effect, but provide
        no guarantee that communication of the change will be attempted. What
        constitutes a material change will be determined at our sole discretion.
      </p>
      <br />
      <p class="mb-0">
        Your continued use of the Service after any such changes constitutes
        your acceptance of the new Terms of Use. If you do not agree to any of
        these terms or any future version of the Terms of Use, do not use or
        access (or continue to access) the Service.
      </p>
      <br />
      <p class="mb-0">
        The Service may include links to third-party websites or services that
        are not owned or controlled by Colton Lawson. We have no control over,
        and assume no responsibility for, the content, privacy policies, or
        practices of any third-party websites or services. You further
        acknowledge and agree that we shall not be responsible or liable,
        directly or indirectly, for any damage or loss caused or alleged to be
        caused by or in connection with the use of or reliance on any such
        content, goods or services available on or through any such websites or
        services.
      </p>
      <br />
      <p class="mb-0">
        You agree to use the Service only for lawful purposes and in a manner
        consistent with the laws of your jurisdiction, including, but not
        limited to, applicable export and import regulations.
      </p>
      <br />
      <p class="mb-0">
        Your use of the Service is at your sole risk. The Service is provided on
        an “AS IS” and “AS AVAILABLE” basis. The Service is provided without
        warranties of any kind, whether express or implied, including, but not
        limited to, implied warranties of merchantability, fitness for a
        particular purpose, non-infringement or course of performance.
      </p>
      <br />
      <p class="mb-0">
        We do not warrant that a) the Service will function uninterrupted,
        secure or available at any particular time or location; b) any errors or
        defects will be corrected; c) the Service is free of viruses or other
        harmful components; or d) the results of using the Service will meet
        your requirements.
      </p>
      <br />
      <p class="mb-0">
        In no event shall Colton Lawson, nor his affiliates, companies,
        employees and agents, be liable for any indirect, incidental, special,
        consequential or punitive damages, including without limitation, loss of
        profits, data, use, good-will, or other intangible losses, resulting
        from (i) your access to or use of or inability to access or use the
        Service; (ii) any conduct or content of any third party on the Service;
        (iii) any content obtained from the Service; and (iv) unauthorized
        access, use or alteration of your transmissions or content, whether
        based on warranty, contract, tort (including negligence) or any other
        legal theory, whether or not we have been informed of the possibility of
        such damage, and even if a remedy set forth herein is found to have
        failed of its essential purpose.
      </p>
      <br />
      <p class="mb-0">
        You agree to indemnify, defend, and hold harmless Colton Lawson, and his
        related affiliates, companies, employees and agents from and against any
        and all claims, actions or demands, including without limitation
        reasonable legal and accounting fees, arising out of or in any way
        connected with your use of the Service, your violation of these Terms of
        Use, or your violation of any rights of any third party.
      </p>
      <br />
      <p class="mb-0">
        These Terms of Use and any dispute arising under or related to these
        Terms of Use will be governed by the laws of the United States, without
        giving effect to any conflict of laws principles that may provide for
        the application of the law of another jurisdiction.
      </p>
      <br />
      <p class="mb-0">
        Please get in contact if you have any questions about these Terms of
        Use.
      </p>
      <br />
      <p class="mb-0">Last Updated: <em>January 10, 2023</em></p>
      <br />
      <p class="mb-0">
        Thank you for using Colton's Free Business Tools. We hope you enjoy
        using our Service.
      </p>
      <br />
    </div>
  </div>
</div>
{% endblock %}
